@font-face {
    font-family: "Manrope-reg";
    src: url(../fonts/Manrope-Regular.ttf);

}
@font-face {
    font-family: "Manrope-med";
    src: url(../fonts/Manrope-Medium.ttf);
}
@font-face {
    font-family: "Neutral";
    src: url(../fonts/NeutralFace.otf);
}